[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ninja = "==1.1.0"
pydantic = "==2.7.2"
pyjwt = "==2.6.0"
django-cors-headers = "==4.3.1"
django = "==5.0.6"
websockets = "*"
channels = "*"
channels-redis = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
